:root {
  --climb-yellow: #E5BB44;  /*E0BC29*/
  --climb-light-grey: #74746D;
  --climb-dark-grey: #20201E;
  --light-grey: #C7C7C5;
  --darker-yellow: #B39621;
  --dark-grey-transparent: #20201E00;
  --dark-grey-low-opacity: #20201EE6;

  --fs-xl: 5rem;
  --fs-800: 3rem;
  --fs-700: 2.4rem;
  --fs-600: 1.9rem;
  --fs-500: 1.75rem;
  --fs-400: 1.6rem; 
  --fs-200: 1.15rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Arial"; /*Perpetua Times New Roman
  Tahoma Arial*/
  color: var(--climb-dark-grey);
  background-color: var(--climb-light-grey);
  background-color: var(--light-grey);
}
/* RESETS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}


/* HEADER AND NAV */
.landing {
  height: 100vh;
  width: 100vw;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.landing-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: .25;
}

header {
  width: 100%;
  background: linear-gradient(to bottom, var(--climb-dark-grey) 50%, var(--dark-grey-transparent));
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 6rem;

  position: fixed;
  top: 0;
  z-index: 1;
}

.head-logo {
  width: 40%;
  padding-top: 2rem;
}

.navigation ul{
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  padding: 1.5rem 1rem;
  font-size: var(--fs-500);
  letter-spacing: .25rem;
  color: var(--climb-yellow);
}

#toTop.hidden{
  display: none;
}

/* SMALL HEADER STYLING */

header.head-small {
  background-color: var(--climb-dark-grey);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0;
}

.head-logo.head-small {
  margin:1rem;
  align-self: center;
  z-index: 3;
  padding: 0;
}

.navigation ul.head-small {
flex-direction: column;
align-items: flex-end;
width:auto;

position: relative;
/* top set by js */
background-color: var(--dark-grey-low-opacity);
padding: 1rem;
font-size: 3rem;
}

.navigation ul.head-small a {
  padding: 1rem;
}


/* END SMALL HEADDER */

.herotxt {
  position: absolute;
  top:70%;
  left:50%;
  transform: translate(-50%, -70%);
  width: 95vw;

  font-size: var(--fs-600);
  line-height: 1.5;
  padding: 1rem 2rem;
  text-align: center;
}

.thankstxt {
  top:60%;
  transform: translate(-50%, -60%);
  font-size: var(--fs-700);
}

.highlight-txt {
  color: var(--climb-dark-grey);
  font-weight: bold;
}

.downarr {
  display: block;
  position: absolute;
  bottom: 3rem;
  left: 2rem;
  line-height: 50px;
  font-size: 50px;
  opacity: 50%;
  transform: translate(0, -90px);
  animation: slide 2s infinite;
}

@keyframes slide {
  50% {
    transform: translate(0, 40px);
  }
}

/* SECTIONS */
main {
  display: flex;
  flex-direction: column;
}

.pillar-card {
  display: inline-flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.pillar-img {
  width: 100vw;

  object-fit: cover;
  opacity: 70%;
}

.pillar-info {
  background-color: var(--light-grey);
  border-top: solid .75rem var(--climb-yellow);
  border-left:solid .75rem var(--climb-yellow);
}

.pillar-info h2 {
  padding-top: 1rem;
  font-size: var(--fs-700);
  padding-left: 1rem;
  font-family: "Hops and Barley Clean";
}

.pillar-info p {
  font-size: var(--fs-500);
  line-height: 2rem;
  padding: 1.5rem 1rem 1.5rem 1.5rem;
}


/* CONTACT to be implimented later */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  /* height: 80vh; */
}

.contact h2 {
  width: 90vw;
  text-align: center;
  font-size: var(--fs-800);
  border-top: double 1rem var(--climb-yellow);
  padding-top: 3rem;
}

/* .contactinfo,*/
.contact p { 
  padding: 1rem 1rem 0;
  font-size: var(--fs-500);
  line-height: 2rem;
  text-align: center;
  width: 90vw;
}

.contact-form {
  display: inline-flex;
  flex-direction: column;
  width: 90vw;
  margin: 2rem 2rem 0 2rem;
  border-bottom: double 1rem var(--climb-yellow);;
  padding-bottom: 3rem;

}
.contact-form label{
  font-size: var(--fs-500);
}

.contact-form input,
.contact-form textarea {
  font: inherit;
  font-size: var(--fs-500);
  padding: .5rem;
  margin: 1rem;
}

.contact-send {
  height:4rem;
  width: 30vw;
  align-self: center;
  margin: 2rem;
  margin-bottom: 0;

  font: inherit;
  font-size: var(--fs-700);
  font-weight: bold;
  background-color: var(--climb-yellow);
  border-radius: .75rem;
  color: inherit;
  border: solid .1rem var(--climb-dark-grey);
}


/* FOOTER */

footer {
  background-color: var(--climb-dark-grey);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}

footer img {
  width: 30vw;
}

footer .footcontactinfo {
  color: var(--climb-light-grey);
  font-size: var(--fs-200);
  line-height: 1.75;
}