:root {
  --climb-yellow: #e0bc29;
  --climb-light-grey: #74746D;
  --climb-dark-grey: #20201E;
  --light-grey: #C7C7C5;
}

body {
  font-family: Perpetua;
  color: var(--climb-dark-grey);
  background-color: var(--climb-light-grey);
  background-color: var(--light-grey);
}
/* RESETS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}


/* HEADER AND NAV */
header {
  width: 100%;
  height: 20vh;
  background-color: var(--climb-dark-grey);
}

header .logo {
  display: flex;
  justify-content: center;
}

header .logo img {
  width: 40%;
  padding-top: 2rem;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  padding: 1.5rem 1rem;
  font-size: 1.75rem;
  color: #b1af87;
}

a:hover {
  text-decoration: underline;
}

.hero {
  position: relative;
  text-align: center;
}

.heroimg {
  background: url(img/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  opacity: 30%;
}

.hero .herotxt {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 90vw;
}

.hero .herotxt h1 {
  font-size: 3rem;
  line-height: 1.5em;
}

.hero .herotxt p {
  font-size: 2rem;
  padding: 1rem 2rem;

}

.hero .downarr {
  position: absolute;
  bottom: 3rem;
  left: 2rem;
  line-height: 50px;
  font-size: 50px;
  opacity: 50%;
}

/* SECTIONS */
main {
  display: flex;
  flex-direction: column;
}

section {
  display: block;
  position: relative;
  height: 100vh;
}

section img {
  width: 100vw;
  height: 70vh;
  object-fit: cover;
  /* filter : drop-shadow(-.3rem .3rem .25rem var(--climb-yellow)); */
  opacity: 70%;
}

.pillar-info {
  background-color: var(--light-grey);
  border-top: solid .75rem var(--climb-yellow);
  border-left:solid .75rem var(--climb-yellow);
  height: 30vh;
}

.pillar-info h2 {
  /* position: absolute;
  transform: translate(1rem, -4rem); */
  padding-top: 1rem;
  font-size: 3.25rem;
}

.pillar-info p {
  font-size: 1.5rem;
  line-height: 1.25;;
  padding: 1.5rem 1rem;
}


/* CONTACT to be implimented later */

.contact {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  
}

.contact h2 {
  text-align: center;
  font-size: 3rem;
  border-top: double 1rem var(--climb-yellow);
  padding-top: 5rem;
}

.contact p,
.contactinfo {
  padding-top: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
}

.contactinfo {
  text-align: left;
  padding-top: 3rem;
  border-bottom: double 1rem var(--climb-yellow);
  padding-bottom: 5rem;
}







/* FOOTER */

footer {
  background-color: var(--climb-dark-grey);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  margin-top: 2rem;
}

footer img {
  width: 30vw;
}

footer .footcontactinfo {
  color: var(--climb-light-grey);
  font-size: 1.25rem;
  line-height: 1.75;
}